---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: client

resources:
- deployment.yaml
- namespace.yaml
- network-policy.yaml

components:
  - ../components/default-network-policy
